html, body{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;

    height: 100svh;
}

.container{
    flex: 0 1 initial;
    border: 1px solid black;
    box-sizing: border-box;
    height: 500px;
    width: 500px;

    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

.cell {
    border: 1px solid lightgray;
    color: white;
    flex: 1;
    aspect-ratio: 1;
}